**/__pycache__
**/*.pyc
.ipynb_checkpoints
bash_files
data/outputs/*
data/Mask_PyHIST_v2
data/tcga/mask/*
data/tcga/patches/*
data/tcga/wsi/*
data/5_fold_crossvalidation_data_split_autov2.csv
data/5_fold_crossvalidation_data_split_rumc.csv
data/5_fold_crossvalidation_data_split.csv
data/labels_auto.csv
data/labels_id_rumc.csv
data/labels_test_rumc.csv
data/labels_test.csv
data/manual_labels_test.csv
data/manual_labels.csv
data/patients_ID.csv
figures
jupyter_notebooks
patch_similarity
preprocessing
PyHIST
scripts_niccolo
trained_models/MoCo
.gitignore
README.md
requirements_pyhist.txt
trash.py
